**
!go.mod
!go.sum
!VERSION
!LICENSE
!third_party/
!third_party/**
!Makefile
!cmd/
!cmd/**
!internal/
!internal/**
!api/
!api/**
!scripts/
!scripts/devsetup/
!scripts/devsetup/**
!scripts/qualify/
!scripts/qualify/**
!scripts/coverage/
!scripts/coverage/*.go
!scripts/release/
!scripts/release/*.go
!tests/
!tests/**
!sqlc.yaml
!tools/
!tools/sqlc/
!tools/sqlc/go.mod
!tools/sqlc/go.sum
!tools/oapi-codegen/
!tools/oapi-codegen/go.mod
!tools/oapi-codegen/go.sum
# Workflow formatting is host-only and must not invalidate service image layers.
tools/yamlfmt/
